<%= form_with(model: activity, url: activity_path, method: :put) do |form| %>
  <strong><%= "Step #{(activity.steps).index(activity.current_step) + 1} of #{activity.steps.count}" %></strong>
  <br>
  <% if activity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "#{activity.current_step}_wizard", :form => form %>
  <p><%= form.submit "Continue" %></p>
  <p><%= form.submit "Back", :name => "back_button" unless activity.first_step? %></p>
<% end %>
